<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.csl.manage.dao.SysLinkRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.csl.manage.entity.SysLinkRole" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="roleId" property="roleId" jdbcType="BIGINT" />
    <result column="linkId" property="linkId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="SubRoleMap" type="cn.csl.manage.model.SysSubRole" >
    <result column="linkUrl" property="linkUrl" jdbcType="VARCHAR" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
   id, state, createTime,
      roleId, linkId
  </sql>
  <sql id="Base_name" >
    manage_link_role
  </sql>
  <sql id="orderAttr" >
    id
  </sql>
  <insert id="insert" parameterType="cn.csl.manage.entity.SysLinkRole"  keyProperty="id" useGeneratedKeys="true">
    insert into manage_link_role (id, state, createTime, 
      roleId, linkId)
    values (#{id,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{roleId,jdbcType=BIGINT}, #{linkId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.csl.manage.entity.SysLinkRole" >
    update <include refid="Base_name" />
    set linkId = #{linkId,jdbcType=BIGINT},
    roleId = #{roleId,jdbcType=BIGINT},
    state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <delete id="deleteByRoleId"  parameterType="java.lang.Long" >
    delete from <include refid="Base_name" />
    where roleId = #{roleId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByPrimaryKey"  parameterType="java.lang.Long" >
    delete from <include refid="Base_name" />
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from <include refid="Base_name" />
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getCount" resultType="java.lang.Long">
    select
    count(*)
    from <include refid="Base_name" />
    where state = 1
    <if test="tableUploadUtil.sql != null and tableUploadUtil.sql != ''">
      ${ tableUploadUtil.sql}
    </if>
    <if test="tableUploadUtil.searchdetail != null and tableUploadUtil.searchdetail != ''">
      and ${ tableUploadUtil.searchdeAttribute} LIKE CONCAT(CONCAT('%', #{tableUploadUtil.searchdetail,jdbcType=VARCHAR}),'%')
    </if>
  </select>
  <select id="listPageObjs" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from <include refid="Base_name" />
    where state = 1
    <if test="tableUploadUtil.sql != null and tableUploadUtil.sql != ''">
      ${ tableUploadUtil.sql}
    </if>
    <if test="tableUploadUtil.searchdetail != null and tableUploadUtil.searchdetail != ''">
      and ${tableUploadUtil.searchdeAttribute} LIKE CONCAT(CONCAT('%', #{tableUploadUtil.searchdetail,jdbcType=VARCHAR}),'%')
    </if>
    ORDER BY <include refid="orderAttr" /> DESC
    limit #{tableUploadUtil.start},#{tableUploadUtil.length}
  </select>
  <select id="listByAttribute" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from <include refid="Base_name" />
    where ${attribute} = #{checkVal,jdbcType=VARCHAR} and state = #{state,jdbcType=INTEGER}
    ORDER BY <include refid="orderAttr" /> DESC
  </select>
  <select id="listByAttrValueMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from <include refid="Base_name" />
    where state = #{state,jdbcType=INTEGER}  ${attrValueMap}
    ORDER BY <include refid="orderAttr" /> DESC
  </select>
  <select id="listAllSubscriberRole" resultMap="SubRoleMap">
    SELECT DISTINCT  mfl.linkUrl ,mfr.roleName
    FROM manage_link_role mlr,manage_frontrole mfr,manage_frontlink mfl
    WHERE mfl.linkUrl IS NOT NULL
    AND mfl.linkUrl!=''
    AND mfl.state!=0
    AND mfr.state!=0
    AND mlr.roleId = mfr.id
    AND mlr.linkId = mfl.id
    ORDER BY mfl.linkUrl
  </select>

</mapper>