<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.csl.wenjuan.dao.WjFootprintMapper" >
  <resultMap id="BaseResultMap" type="cn.csl.wenjuan.entity.WjFootprint" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="subscriberId" property="subscriberId" jdbcType="BIGINT" />
    <result column="subscriberSurface" property="subscriberSurface" jdbcType="VARCHAR" />
    <result column="surfaceId" property="surfaceId" jdbcType="BIGINT" />
    <result column="surface" property="surface" jdbcType="VARCHAR" />
    <result column="updataTime" property="updataTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, state, createTime,
      subscriberId, subscriberSurface, surfaceId,
      surface, updataTime
  </sql>
  <sql id="Base_name" >
    wj_footprint
  </sql>
  <sql id="orderAttr" >
    updataTime
  </sql>
  <insert id="insert" parameterType="cn.csl.wenjuan.entity.WjFootprint" keyProperty="id" useGeneratedKeys="true">
    insert into wj_footprint (id, state, createTime,
      subscriberId, subscriberSurface, surfaceId,
      surface, updataTime)
    values (#{id,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{subscriberId,jdbcType=BIGINT}, #{subscriberSurface,jdbcType=VARCHAR}, #{surfaceId,jdbcType=BIGINT},
      #{surface,jdbcType=VARCHAR}, #{updataTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.csl.wenjuan.entity.WjFootprint" >
    update wj_footprint
    set state = #{state,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      subscriberId = #{subscriberId,jdbcType=BIGINT},
      subscriberSurface = #{subscriberSurface,jdbcType=VARCHAR},
      surfaceId = #{surfaceId,jdbcType=BIGINT},
      surface = #{surface,jdbcType=VARCHAR},
      updataTime = #{updataTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <delete id="deleteByPrimaryKey"  parameterType="java.lang.Long" >
    delete from <include refid="Base_name" />
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from <include refid="Base_name" />
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getCount" resultType="java.lang.Long">
    select
    count(*)
    from <include refid="Base_name" />
    where state = 1
    <if test="tableUploadUtil.sql != null and tableUploadUtil.sql != ''">
      ${ tableUploadUtil.sql}
    </if>
    <if test="tableUploadUtil.searchdetail != null and tableUploadUtil.searchdetail != ''">
      and ${ tableUploadUtil.searchdeAttribute} LIKE CONCAT(CONCAT('%', #{tableUploadUtil.searchdetail,jdbcType=VARCHAR}),'%')
    </if>
  </select>
  <select id="listPageObjs" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from <include refid="Base_name" />
    where state = 1
    <if test="tableUploadUtil.sql != null and tableUploadUtil.sql != ''">
      ${ tableUploadUtil.sql}
    </if>
    <if test="tableUploadUtil.searchdetail != null and tableUploadUtil.searchdetail != ''">
      and ${tableUploadUtil.searchdeAttribute} LIKE CONCAT(CONCAT('%', #{tableUploadUtil.searchdetail,jdbcType=VARCHAR}),'%')
    </if>
    ORDER BY <include refid="orderAttr" /> DESC
    limit #{tableUploadUtil.start},#{tableUploadUtil.length}
  </select>
  <select id="listByAttribute" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from <include refid="Base_name" />
    where ${attribute} = #{checkVal,jdbcType=VARCHAR} and state = #{state,jdbcType=INTEGER}
    ORDER BY <include refid="orderAttr" /> DESC
  </select>
  <select id="listByAttrValueMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from <include refid="Base_name" />
    where state = #{state,jdbcType=INTEGER}  ${attrValueMap}
    ORDER BY <include refid="orderAttr" /> DESC
  </select>
</mapper>